<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="id" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Election_form_edit" 
        service="Election" 
        entity="Election" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #location attr="location" label="location" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #date_held attr="date_held" type="timestamp" label="date_held" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ELECTIONRESULT-election_id">
    <div layout-padding>
      <o-table 
        attr="ElectionResultTable" 
        service="ElectionResult" 
        entity="ElectionResult" 
        keys="id"
        parent-keys="election_id:id"
        columns="id;candidate_id;election_id;votes_received"  
        horizontal-scroll="yes"
        detail-form-route="ElectionResult" 
        edit-form-route="ElectionResult"
        visible-columns="id;candidate_id;election_id;votes_received"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="candidate_id" title="candidate_id">
    <o-table-cell-renderer-service attr="candidate_id" 
        service="Candidate" entity="CandidateType" columns="id;name"
        parent-keys="id:candidate_id"
        value-column="name" keys="candidate_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="election_id" title="election_id">
    <o-table-cell-renderer-service attr="election_id" 
        service="Election" entity="ElectionType" columns="id;id"
        parent-keys="id:election_id"
        value-column="id" keys="election_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #votes_received attr="votes_received" title="votes_received" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="VOTE-election_id">
    <div layout-padding>
      <o-table 
        attr="VoteTable" 
        service="Vote" 
        entity="Vote" 
        keys="id"
        parent-keys="election_id:id"
        columns="id;candidate_id;election_id;voter_id"  
        horizontal-scroll="yes"
        detail-form-route="Vote" 
        edit-form-route="Vote"
        visible-columns="id;candidate_id;election_id;voter_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="candidate_id" title="candidate_id">
    <o-table-cell-renderer-service attr="candidate_id" 
        service="Candidate" entity="CandidateType" columns="id;name"
        parent-keys="id:candidate_id"
        value-column="name" keys="candidate_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="election_id" title="election_id">
    <o-table-cell-renderer-service attr="election_id" 
        service="Election" entity="ElectionType" columns="id;id"
        parent-keys="id:election_id"
        value-column="id" keys="election_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="voter_id" title="voter_id">
    <o-table-cell-renderer-service attr="voter_id" 
        service="Voter" entity="VoterType" columns="id;name"
        parent-keys="id:voter_id"
        value-column="name" keys="voter_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>